.project.card {
  border-radius: $rounded-borders;
  text-decoration: none !important;
  margin: 10px auto;

  .card-img-top {
    border-radius: $rounded-borders $rounded-borders 0 0;
  }

  transition: transform 400ms;

  &:hover:not(.post) {
    transform: translateY(-8px);
    box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.24);
  }
}

.rcard-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > div {
    width: 32.5%;
    @media (max-width: 768px) {
      width: 49%;
    }
    @media (max-width: 421px) {
      width: 100%;
    }
  }
}
